.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
}

.card {
    margin: 20px auto;
    max-width: 400px;
}

.navbar {
    background-color: #f8f9fa;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-right: 10px;
}

.navbar-link {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

    .navbar-link:hover {
        color: #007bff;
    }

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #c82333;
}
.background-image {
    background-image: url(https://res.cloudinary.com/dgm059qwp/image/upload/v1680588126/Black_and_Gold_Classy_Minimalist_Circular_Name_Logo-removebg-preview_rfjd8f.png);
    background-size: auto ;
    background-position:initial;
    background-repeat: round;
    /* Agrega otros estilos según sea necesario */
}

